/* Global styles */
a {
    color: #333333;
    text-decoration: none;
}
a:hover{
     color:#333333;
     text-decoration:none;
     cursor:pointer;
}
body{
  margin: 0;
  background-color: #eeeeee;
  font-family: sans-serif;
}
main{
  padding: 16px 150px;
}
button:focus, input:focus{outline:0;}

/* Responsive */
@media (max-width: 600px) {
  main{
    padding: 16px 15px;
  }
}
